table{
    font-style:oblique; /*oblique*/
    /*color: #D6EAF8; /*21, 172, 82*/
    /*background-color:  #D6EAF8;*/
}
caption{
    font-style: initial;
    color:rgb(0, 136, 255);
    font-size: 18px;
} 
th{
    color: #06ac4c;
    background-color:  #D6EAF8;
}
td{
    color: black;
}
