table{
    margin: auto;
    border-style: solid;
    border: 1px solid #333;
    border-radius: 0px;
    overflow: hidden; 
    border-style: solid;
    border-width: 1px 1px;
    border-collapse: collapse;
    padding: 10px;
    box-shadow: 5px -5px 10px rgba(0,0,0,0.5);
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
}
.text{
    /* background-color: rgb(35, 38, 42); */
    background-color: rgb(35, 48, 62);
    color:white;
    border-top: 3px red solid;
    border-right: 5px green dashed;
    border-bottom: 4px purple dotted;
    border-left: 5px orange double;
    border-radius: 5px;
    border-style:solid;
    direction: rtl;
    line-height: 2;
    padding: 15px;
}
.imgae{
    border-radius: 30px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    border-style: groove;
    border: 0.05px red solid
}
th{ 
    border-bottom: 1px solid #888;
    padding: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-weight: bold;        /*187, 42, 255, 0.975*/
    background-color: rgba(25, 248, 151, 0.352);/*25, 248, 151, 0.619*/
    font-style: oblique;
    color: rgb(5, 37, 83);
}
td{
     border-bottom: 1px solid #888;
    padding: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: oblique;
    font-weight: bold;       /*35, 123, 238, 0.617*/
    background-color: rgba(94, 255, 35, 0.426);/*94, 255, 35, 0.426*/
}
tr:last-child td{
    border-bottom: none;
}
.Image-roundness1{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    vertical-align: middle;
    margin-left: 0em;
    margin-right: 2em;
}
.Image-roundness2{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 30px;
}
.Image-roundness3{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 30px;
}
#fontmargin{
    text-align:center;
}
body{       
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgba(179, 242, 179); */
    background-color: #eee;
    
}    
.pargragh{
    /* margin-top: 100px;   */
    /* margin-left: 100px; */
    /* margin-right:500px; */
    padding-top: 100px;
    padding-left: 150px;
    box-sizing: border-box;

}
